html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #1f1f1f;
  color: #ffffff;
}

.dark-mode .navbar a {
  color: #ffffff;
}

.dark-mode .navbar a:hover {
  color: #ffbb00;
}

.dark-mode .menu-card {
  background-color: #2c2c2c;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.dark-mode .menu-card:hover {
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.2);
  transform: translateY(-5px);
}

.dark-mode .menu-card h3 {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
  color: #ffffff;
}

.dark-mode h1 {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
  color: #ffffff !important;
}

.dark-mode .menu-item-description {
  color: #ffffff;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

body.dark-mode p {
  color: #ffffff !important; 
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8); 
}

.dark-mode .menu-item-price {
  font-size: 1.2rem;
  font-weight: 700;
  color: #20b860 !important;
  text-shadow: 0px 0px 5px rgba(32, 184, 96, 0.8), 0px 0px 10px rgba(32, 184, 96, 0.5);
  transition: all 0.3s ease;
}

.dark-mode h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  background: linear-gradient(900deg, #ffffff, #20b860);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}

.dark-mode .footer-container {
  background-color: #1f1f1f;
  color: #ffffff;
}

.dark-mode .footer-container a {
  color: #ffffff;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}

.dark-mode .footer-container a:hover {
  color: #ffbb00;
  text-shadow: 0px 0px 7px rgba(255, 204, 0, 1);
}

body, .navbar, .menu-card, .footer-container, h2, p {
  transition: background-color 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.fade-in-container {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.8s ease-in, transform 0.8s ease-in;
}

.fade-in-container.loaded {
  opacity: 1;
  transform: translateY(0);
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 50px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #20b860;
  opacity: 0.6;
  position: absolute;
  animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.page-enter {
  opacity: 0;
  transform: translateY(10px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}
